[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
  ignore = untracked
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
  ignore = untracked
[submodule ".vim/bundle/vcscommand"]
	path = .vim/bundle/vcscommand
	url = git://repo.or.cz/vcscommand
  ignore = untracked
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
  ignore = untracked
[submodule ".vim/bundle/vimshell"]
	path = .vim/bundle/vimshell
	url = https://github.com/Shougo/vimshell.git
  ignore = untracked
[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.git
  ignore = untracked
[submodule ".vim/bundle/vim-ref"]
	path = .vim/bundle/vim-ref
	url = https://github.com/thinca/vim-ref.git
  ignore = untracked
[submodule ".vim/bundle/altercmd"]
	path = .vim/bundle/altercmd
	url = https://github.com/kana/vim-altercmd.git
  ignore = untracked
[submodule ".vim/bundle/quickrun"]
	path = .vim/bundle/quickrun
	url = https://github.com/thinca/vim-quickrun.git
  ignore = untracked
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
  ignore = untracked
[submodule ".vim/bundle/grep.vim"]
	path = .vim/bundle/grep.vim
	url = https://github.com/vim-scripts/grep.vim.git
  ignore = untracked
[submodule ".vim/bundle/neco-ruby"]
	path = .vim/bundle/neco-ruby
	url = https://github.com/ujihisa/neco-ruby.git
  ignore = untracked
[submodule ".vim/bundle/taskpaper"]
	path = .vim/bundle/taskpaper
	url = https://github.com/davidoc/taskpaper.vim.git
  ignore = untracked
[submodule ".vim/bundle/coffee-script"]
	path = .vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
  ignore = untracked
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
  ignore = untracked
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/hallison/vim-markdown.git
[submodule ".vim/bundle/rbpit.vim"]
	path = .vim/bundle/rbpit.vim
	url = https://github.com/fkfk/rbpit.vim
[submodule ".vim/bundle/lingr-vim"]
	path = .vim/bundle/lingr-vim
	url = https://github.com/tsukkee/lingr-vim.git
